@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: #000000;
		color: #e7e9ea;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

/* Custom Scrollbar to match X */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: #2f3336;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3e4144;
}
